<div class="row">
  <div class="col-sm-4 col-md-8">
Title <%= data.title %><br/>
Location <%= data.location %><br/>
Start Date <%= data.startDate %><br/>
End Date <%= data.endDate %><br/>
  </div>
</div>