<% include partials/header %>
  <body>
    <div id="mainmenu">
        <ul>
          <li>
            <a href="#" onclick="javascript:addEvents();" class="button">Add Events</a>
          </li>
          <li>
            <a href="#" onclick="javascript:editEvents();" class="button">Edit Events</a>
          </li>
          <li>
            <a href="#" onclick="javascript:deleteEvents();" class="button">Delete Events</a>
          </li>
          <li>
            <a href="#" onclick="javascript:viewEvents();" class="button">View Events</a>
          </li>
          <li>
            <a href="#" onclick="javascript:viewReports();" class="button">Reports</a>
          </li>
        </ul>
    </div>
    <div id="loaddiv" class="container">
      
    </div>
<% include partials/footer %>